@import "./function.scss";
@import "./responsively.scss";

@keyframes left-animation{
    0%{
        left:180px;
        opacity:0%;
    }
    100%{
        left:0px;
        opacity:100%;
    }
}

.article-list-wrap{
    @include block-center(1200px);
    @include mobile{
        @include setSize(100vw, auto);
    }
    .article-list-title{
        padding-top:73px;
        padding-left:10px;
        position:relative;
        left:0px;
        animation-duration: 3s;
        @include mobile{
            padding-top:34px;
        }
        span{
            @include font(28px, 700, #6BBDA7);
            @include mobile{
                font-size:14px;
            }
        }
        h3{
            margin-top:2px;
            @include font(50px, 700, #1D1D1D);
            line-height:64px;
            @include mobile{
                font-size:24px;
                line-height:28px;
            }
        }
    }
    .search-wrap{
        text-align:right;
        margin-top:51px;
        @include mobile{
            margin-top:43px;
        }
        form{
            input[type="text"]{
                @include setSize(492px, 44px);
                border-radius: 50px;
                background-color: #F1F1F1;
                border: none;
                box-sizing: border-box;
                padding:20px;
                @include font(16px, 400, #585858);
                @include mobile{
                    @include setSize(178px, 20px);
                    font-size:8px;
                }
            }
            input[type="submit"]{
                @include setSize(108px, 44px);
                background-color:#343434;
                @include font(16px, 500, #FFFFFF);
                margin-left:18px;
                border:none;
                cursor:pointer;
                @include mobile{
                    @include setSize(48px, 40px);
                    font-size:8px;
                }
            }
        }
    }
    table{
        @include block-center(1100px);
        margin-top:30px;
        @include mobile{
            width:90vw;
        }
        thead{
            tr{
                border-bottom:2px solid #A8A8A8;
                th{
                    @include font(20px, 400, #A5A5A5);
                    padding:22px 0px;
                    @include mobile{
                        font-size:9px;
                    }
                }
            }
        }
        tbody{
            text-align:center;
            tr{
                border-bottom: 1px solid #B1B1B1;
                cursor:pointer;
                td{
                    @include font(18px, 400, #454545);
                    padding:22px 0px;
                    @include mobile{
                        font-size:9px;
                    }
                }
            }
        }   
    }
    .button-wrap{
        @include block-center(1100px);
        @include flex(flex-end, center);
        margin-top:16px;
        @include mobile{
            @include setSize(90vw);
            margin: 0 auto;
            margin-top:18px;
        }
        button{
            @include setSize(120px, 44px);
            background-color:#343434;
            border:none;
            @include font(16px, 500, #FFFFFF);
            cursor:pointer;
            @include mobile{
                @include setSize(90px, 34px);
                font-size:12px;
            }
            
        }
    }
    .pagination{
        text-align:center;
        margin-top:45px;
        padding-bottom: 47px;
        ul{
            @include flex(center, center);
            li{
                @include setSize(25px, 25px);
                @include flex(center, center);
                border: 1px solid #B1B1B1;
                @include font(14px, 400, #B1B1B1);
                margin-left:2px;
                cursor:pointer;
                &:first-child{
                    display:none;
                }
                &:nth-child(2){
                    margin-left:0px;
                }
                &:last-child{
                    display:none;
                }
            }
            .active{
                border: 2px solid #585858;
                @include font(14px, 400, #585858);
            }
        }
    }
}