@import "./function.scss";
@import "./responsively.scss";

footer {
    @include block-center(1200px);
    padding:92px 0px;
    @include mobile{
        @include setSize(100vw, auto);
        padding:20px;
        padding-top:34px;
    }
    .footer-top{
        @include flex(space-between, center);
        @include mobile{
            flex-wrap: wrap;
        }
        .footer-logo{
            h5{
                @include font(38px, 700, #7E7E7E);
                a{
                    @include flex(flex-start, center);
                    img{
                        @include setSize(60px, 60px);
                    }
                    .logo-info{
                        margin-left:10px;
                        
                        p{
                            @include font(14px, 500, #BD5278);
                            margin-bottom:-3px;
                        }
                        span{
                            @include font(32px, 700, #BD5278);
                        }
                    }
                    @keyframes foot-animation-post {
                        0%{
                            opacity:0;
                        }
                        25%{
                            opacity: 0;
                        }
                        100%{
                            opacity:1;
                        }
                    }
                    @keyframes foot-animation{
                        0%{
                            opacity:0;
                        }
                        100%{
                            opacity:1;
                        }
                    }
                    .left-footprint{
                        @include setSize(20px, 20px);
                        transform: rotateY(180deg);
                        position:relative;
                        top:-20px;
                        animation-name: foot-animation-post;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease-in-out;
                        opacity:0;
                    }
                    .right-footprint{
                        @include setSize(30px, 30px);
                        position:relative;
                        top:-10px;
                        left:-10px;
                        animation-name: foot-animation;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        animation-timing-function: ease-in-out;
                        opacity:0;
                    }
                }
            }
        }
        .footer-nav{
            ul{
                @include flex(null, center);
                @include mobile{
                    @include setSize(100vw, auto);
                    flex-wrap: wrap;
                }
                li{
                    @include font(18px, 700, #999999);
                    margin-left:26px;
                    @include mobile{
                        font-size: 12px;
                        margin-top:40px;
                    }
                    &:first-child{
                        margin-left:0px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        @include flex(space-between, flex-end);
        margin-top:26px;
        @include mobile{
            @include setSize(100vw, auto);
            margin-top:30px;
            flex-wrap: wrap;
        }
        .footer-info{
            p{
                width: 390px;
                @include font(20px, 300, #ADADAD);
                line-height:29px;
                @include mobile{
                    width:100vw;
                    font-size:14px;
                    line-height:22px;
                }
            }
        }
        .copyright{
            padding-bottom:6px;
            p{
                @include font(20px, 300, #ABABAB);
                @include mobile{
                    font-size: 12px;
                    margin-top:42px;
                }
            }
        }
    }
}