@import "./function.scss";
@import "./responsively.scss";

.header{
    @include setSize(100%, 100px);
    background: linear-gradient(to right,#677CF9, #4A64F5);
    .block-margin{
        height:100px;
        @include block-center(1200px);
        @include flex(null, center);
    }
    .logo{
        @include mobile{
            @include setSize(100vw, auto);
            margin-left:6vw;
            @include flex(space-between, center);
        }
        h1{
            @include font(22px, 700, #E2EFFF);
        }
        .hamburger-menu{
            display:none;
            @include mobile{
                display:block;
                margin-right:14vw;
                img{
                    @include setSize(26px, 26px);
                }
            }
        }
    }
    nav{
        margin-right:auto;
        @include mobile{
            display:none;
        }
        ul{
            height:100px;
            @include flex(null, center);
            li{
                @include font(18px, 700, #E2EFFF);
                margin-right:16px;
                cursor:pointer;
                &:first-child{
                    margin-left:38px;
                }
            }
        }
    }
    .login-wrap{
        @include mobile{
            display:none;
        }
        ul{
            @include flex();
            li{
                @include font(18px, 700, #E2EFFF);
                margin-left:16px;
                cursor:pointer;
            }
        }
    }
}