@import "./function.scss";

.login-page-wrap{
    width:100%;
    @include background("/images/login-bg-img.png");
    padding-top:109px;
    padding-bottom: 184px;
    .login-block-center{
        @include block-center(600px);
        text-align:center;
        .login-title{
            h3{
                @include font(48px, 700, #FFFFFF);
            }
        }
        .login-content{
            form{
                @include flex;
                flex-direction: column;
                >input{
                    @include setSize(600px, 80px);
                    margin:0 auto;
                    border-radius:10px;
                    background-color:#FFFFFF;
                    border: none;
                    box-sizing: border-box;
                    padding:30px;
                    @include font(24px, 700, #536BF6);
                }
                input[type="text"]{
                    margin-top:38px;
                }
                input[type="password"]{
                    margin-top:11px;
                }
                .flex-box{
                    @include flex(space-between, center);
                    margin-top: 28px;
                    label{
                        @include flex(null, center);
                        @include font(20px, 400, #FFFFFF);
                        input[type="checkbox"]{
                            @include setSize(40px, 40px);
                            cursor:pointer;
                            margin-right:17px;
                        }
                    }
                    ul{
                        @include flex(null, center);
                        li{
                            @include font(20px, 400, #FFFFFF);
                        }
                        .separate-vertical-line{
                            @include setSize(2px, 30px);
                            background-color:#FFF;
                            margin: 0px 12px;
                        }
                    }
                }
            }
            > button{
                @include setSize(600px, 80px);
                background-color:#97A8FF;
                border:none;
                border-radius:10px;
                cursor:pointer;
                @include font(30px, 700, #FFFFFF);
                margin-top:38px;
            }
        }
    }
}