@import "function.scss";
@import "./responsively.scss";

@keyframes top-animation{
    0%{
        top:180px;
        opacity:0%;
    }
    100%{
        top:0px;
        opacity:100%;
    }
}
@keyframes down-animation{
    0%{
        top:0px;
        opacity:100%;
    }
    100%{
        top:120px;
        opacity:0%;
    }
}

.main-header{
    @include setSize(100%, 100px);
    background-color: rgba(255,255,255,0.9);
    .block-margin{
        height:100px;
        @include block-center(1200px);
        @include flex(null, center);
        @include mobile{
            width:100%;
        }
    }
    .logo{
        @include mobile{
            @include setSize(100vw, auto);
            margin-left:6vw;
            @include flex(space-between, center);
        }
        
        h1{
            a{
                @include flex(flex-start, center);
                img{
                    @include mobile{
                        @include setSize(30px, 30px);
                    }
                }
                .logo-info{
                    margin-left:2px;
                    span{
                        @include font(24px, 700, #BD5278);
                    }
                    p{
                        @include font(10px, 500, #BD5278);
                        margin-top:2px;
                    }
                }
                @keyframes foot-animation-post {
                    0%{
                        opacity:0;
                    }
                    25%{
                        opacity: 0;
                    }
                    100%{
                        opacity:1;
                    }
                }
                @keyframes foot-animation{
                    0%{
                        opacity:0;
                    }
                    100%{
                        opacity:1;
                    }
                }
                .left-footprint{
                    @include setSize(20px, 20px);
                    transform: rotateY(180deg);
                    position:relative;
                    top:-20px;
                    left:-5px;
                    animation-name: foot-animation-post;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    opacity:0;
                }
                .right-footprint{
                    @include setSize(30px, 30px);
                    position:relative;
                    top:-10px;
                    left:-15px;
                    animation-name: foot-animation;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    opacity:0;
                }
            }
        }
        .hamburger-menu{
            display:none;
            @include mobile{
                display:block;
                margin-right:4vw;
                img{
                    @include setSize(26px, 26px);
                }
            }
        }
    }
    nav{
        margin-right:auto;
        @include mobile{
            display: none;
        }
        ul{
            height:100px;
            @include flex(null, center);
            li{
                @include font(18px, 700, #626987);
                margin-right:16px;
                cursor:pointer;
                &:first-child{
                    margin-left:18px;
                }
            }
        }
    }
    .login-wrap{
        @include mobile{
            display: none;
        }
        ul{
            @include flex();
            li{
                @include font(18px, 700, #626987);
                margin-left:16px;
                cursor:pointer;
            }
        }
    }
}
.main-banner1{
    background-image: url("/images/main-mainbanner.png");
}
.main-banner2{
    background-image: url("/images/main-mainbanner2.jpg");
}

.main-banner{
    @include setSize(100%, 700px);
    background-position: center;
    background-size:cover;
    position:relative;
    top:-100px;
    z-index:-1;
    animation-duration: 2s;
    @include mobile{
        @include setSize(100%, 575px);
    }
}
.main-info{
    @include block-center(1200px);
    padding-bottom:132px;
    @include mobile{
        width:100%;
        @include box-padding(40px);
        margin-top:-100px;
        padding-bottom: auto;
    }
    .flex-wrap{
        @include flex(space-between);
        position:relative;
        top:0px;
        animation-duration: 2s;
        h3{
            @include font(48px, 900, #414149);
            line-height:64px;
            
            @include mobile{
                @include font(22px, 900, #414149);
                line-height:32px;
            }
        }
        .main-info-text{
            @include mobile{
                display: none;
            }
            p{
                @include font(20px, 400, #BEBEBE);
                line-height:30px;
                text-align:right;
                &:nth-child(1){
                    margin-top:18px;
                }
                &:nth-child(2){
                    margin-top:19px;
                }
            }
        }
    }
    .main-info-icon-wrap{
        margin-top:94px;
        @include mobile{
            margin-top:40px;
        }
        ul{
            @include flex();
            @include mobile{
                @include setSize(100%, null);
                @include flex(center, center);
            }
            li{
                @include flex(center, center);
                flex-direction: column;
                margin-left:70px;
                @include mobile{
                    @include flex(space-around, center);
                    margin-left:auto;
                }
                &:nth-child(1){
                    margin-left:0px;
                }
                img{
                    @include setSize(50px, 50px);
                    @include mobile{
                        @include setSize(30px, 30px);
                    }
                }
                span{
                    margin-top:22px;
                    @include font(20px, 400, #858391);
                    @include mobile{
                        @include font(8px, 400, #858391);
                    }
                }
            }
        }
    }
}

.ad-randomplay-wrap{
    @include setSize(100%, 500px);
    background-color: #EFF3FF;
    @include flex();
    @include mobile{
        @include setSize(100vw, auto);
    }
    .ad-randomplay-info{
        @include setSize(100%, 500px);
        @include flex(flex-end, center);
        padding-right:140px;
        @include mobile{
            @include setSize(100vw, auto);
            @include flex(center, center);
            padding:70px 30px;
            box-sizing: border-box;
        }
        .ad-randomplay-info-wrap{
            @include mobile{
                @include setSize(100vw, auto);
            }
            h3{
                width:403px;
                @include font(40px, 700, #3F4253);
                line-height:54px;
                @include mobile{
                    width:auto;
                    font-size:22px;
                    line-height:30px;
                }
            }
            p{
                width:456px;
                @include font(18px, 400, #92969F);
                line-height:28px;
                margin-top:13px;
                @include mobile{
                    width:auto;
                    font-size:11px;
                    line-height:16px;
                }
            }
            span{
                @include font(20px, 300, #506DF9);
                display:inline-block;
                margin-top:22px;
                padding-bottom:8px;
                border-bottom: 1px solid #506DF9;
                @include mobile{
                    font-size: 12px;
                }
            }
        }
    }
    .ad-randomplay-img{
        width:100%;
        background-image: url("/images/randomplay-ad-img.png");
        background-position: center;
        background-size: cover;
        @include mobile{
            display:none;
        }
    }
}

.realtime-randomplay{
    @include setSize(100%, 520px);
    background-color:#7B95FE;
    @include mobile{
        @include setSize(100vw, 476px);
    }
    .realtime-randomplay-title{
        text-align:center;
        padding-top:70px;
        @include mobile{
            padding-top:54px;
        }
        h3{
            @include font(40px, 700, #FFFFFF);
            @include mobile{
                font-size:26px;
            }
        }
        p{
            @include font(20px, 400, #FFFFFF);
            margin-top:14px;
            @include mobile{
                font-size:14px;
                line-height:18px;
            }
        }
    }
    .realtime-randomplay-content{
        @include block-center(1200px);
        margin-top:44px;
        @include mobile{
            width:100vw;
            margin-top: 37px;
            overflow-x: scroll;
        }
        ul{
            @include flex(center);
            @include mobile{
                flex-wrap: nowrap;
                overflow-x:auto;
            }
            li{
                @include setSize(200px, 250px);
                border-radius:30px;
                background-color:#FFF;
                margin-left:16px;
                @include mobile{
                    @include setSize(50vw, auto);
                    flex: 0 0 auto;
                }
                &:first-child{
                    margin-left:0px;
                    @include mobile{
                        margin-left:auto;
                    }
                }
                .realtime-randomplay-content-img{
                    @include setSize(100%, 151px);
                    img{
                        @include setSize(100%, 100%);
                        border-radius: 30px 30px 0px 0px;
                    }
                }
                .realtime-randomplay-content-info{
                    padding:18px;
                    h4{
                        @include font(12px, 700, #0C0C0C);
                        line-height:16px;
                    }
                    p{
                        @include font(10px, 400, #868686);
                        margin-top:8px;
                    }
                }
            }
        }
    }
}

.ad-banner-wrap{
    @include setSize(100%, 250px);
    background: linear-gradient(to right,#677CF9, #4A64F5);
    @include flex(center, center);
    flex-direction: column;
    @include mobile{
        display: none;
    }
    .ad-banner-title-wrap{
        @include block-center(1200px);
        text-align: center;
        h3{
            @include font(38px, 400, #F0FCFF);
            .bold{
                font-weight:700;
            }
        }
    }
    .ad-banner-button-wrap{
        margin-top:20px;
        @include flex();
        button{
            height:52px;
            padding: 0px 40px;
            border-radius:14px;
            border:none;
            background-color:#FFFFFF;
            @include font(20px, 700, #677DFA);
            &:first-child{
                margin-right:16px;
            }
            &:nth-child(2){
                background-color:#97A8FF;
                color: #FFFFFF;
            }
        }
    }
}

.main-side-menu-wrap{
    display:none;
    @include mobile{
        @include setSize(40vw, 100vh);
        background-color:rgba(255,255,255,0.8);
        position:fixed;
        top:0;
        left:0;
        @include flex(center, center);
        flex-direction: column;
        ul{
            li{
                @include font(16px, 600, #6E6987);
                margin-top:10vh;
            }
        }
    }
}