@import "./function.scss";

.notice-list-wrap{
    padding-top:108px;
    background-color: #EEEEEE;
    > ul{
        @include block-center(1200px);
        > li{
            @include setSize(1100px);
            background-color:#FFF;
            padding:80px;
            margin-top:32px;
            &:first-child{
                margin-top:0px;
            }
            > span{
                @include setSize(160px, 40px);
                display:inline-block;
                @include flex(center, center);
                background-color:#6077F8;
                @include font(20px, 400, #FFFFFF);
            }
            .notice-list-content{
                margin-top:17px;
                h4{
                    @include font(34px, 700, #4C4C4C);
                    line-height:42px;
                }
                p{
                    @include font(18px, 400, #686868);
                    margin-top:17px;
                    line-height:28px;
                }
            }
            .flex-wrap{
                @include flex(space-between, center);
                margin-top:28px;
                .entrance-wrap{
                    @include flex(center, center);
                    img{
                        margin-left:4px;
                    }
                    span{
                        @include font(18px, 400, #686868);
                        margin-left:11px;
                        border-bottom:1px solid #686868;
                        padding-bottom:6px;
                    }
                }
                .edit-button-wrap{
                    ul{
                        @include flex(flex-start, center);
                        li{
                            @include font(18px, 400, #686868);
                            border-bottom: 1px solid #686868;
                            padding-bottom: 6px;
                            margin-left:13px;
                            &:first-child{
                                margin-left:0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination{
        text-align:center;
        margin-top:108px;
        padding-bottom:66px;
        ul{
            @include flex(center, center);
            @include font(14px, 400, #C0C0C0);
            li{
                margin-left:9px;
                cursor: pointer;
                &:first-child{
                    margin-left:0px;
                }
            }
        }
    }
}